// ==========================================================================
// CUSTOM FONT DECLARATIONS
// ==========================================================================

// Custom @font-face fonts
//***************************************

@each $custom-font in $custom-fonts {

  @font-face {
    font-family:"#{$custom-font}";
    src: url("./fonts/#{$custom-font}.eot");
    src: url("./fonts/#{$custom-font}.eot?#iefix") format('embedded-opentype'),
    url("./fonts/#{$custom-font}.woff") format('woff'),
    url("./fonts/#{$custom-font}.ttf")  format('truetype'),
    url("./fonts/#{$custom-font}.svg##{$custom-font}") format('svg');
  }
}
