@import 'bourbon';
@import 'neat';

.nav-bar {
  width: 100%;
  height: rem(50);
  background-color: #2D2D2D;

  ul {
    display: inline-block;
    margin: 0;
  }

  li {
    line-height: rem(40);
    display: inline-block;
    float: left;
    list-style: none;
    padding: rem(5) rem(10);
  }

  a {
    color: #fff !important;
    text-decoration: none;
  }

  .logo {
    float: left;
    height: rem(40);
    margin: rem(5);
  }

  .links {
    @include span-columns(10);
  }

}
